.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.375rem;
}

.button {
  padding: 0.9375rem 1.125rem;
  width: 6.25rem;
  background-color: rgba(255, 39, 39, .9);
  color: white;
  margin-left: 0.625rem;
  margin-right: 0.3125rem;
  outline: none;
  border: none;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: .5s transform;
  z-index: -1;
}

.button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.button:hover {
  box-shadow: 1px 1px 10px rgb(130, 130, 130);
}

.button:active {
  color: black;
}

.input {
  width: 18.75rem;
  font-size: 1.125rem;
  padding-left: 0.75rem;
  margin-left: 0.3125rem;
  padding-bottom: .75rem;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  outline: none;
  position: relative;}
.inputContainer {
  position: relative;
}
.inputContainer::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 74, 74);
  transform-origin: left;
  animation: inputAnimation 3s infinite ;
}

@keyframes inputAnimation {
  0%, 100% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 768px) {
  .input {
    width: 12.5rem;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(240, 239, 239) inset;
}