
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header{ 
    /* text-align: center; */
    justify-content: center;
    align-items: center;
  }
  .container {
    display: none;
  }
  .logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  height: 140px;
  box-shadow: 4px 4px 25px rgb(9, 9, 9);
  padding: 0 50px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('../images/header.jpg');
  background-size: cover;
  text-shadow: 1px 1px 5px rgb(133, 133, 133);
}
.title {
  font-weight: lighter;
}
.author {
  display: block;
  color: rgb(210, 210, 210);
  font-size: 15px;
  text-transform: none;
}

.logo {
  width: 120px;
  height: 120px;
  float: right;
  animation: logoAnimation 30s infinite;
  animation-timing-function: linear;
}

@keyframes logoAnimation {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}