.container {
  background: url('../images/hero-image.jpg');
  min-height: 100vh;
  width: 100vw;
}

.backButton {
  position: relative;
  padding: 0.9375rem;
  width: 50%;
  margin: 1.25rem auto;
  border: 1px solid rgb(215, 59, 24);
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}
.backButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: -1;
  background-color: rgba(117, 117, 117, 0.07);
  transform: scaleY(0);
  transform-origin: top;
  transition: .5s transform;
}
.backButton:hover::before {
  transform: scaleY(1);
}

.backLink{
  color: rgb(215, 59, 24);
  font-size: 1.25rem;
  text-decoration: none;
}

.recipeImage {
  width: 21.875rem;
  margin-top: 1.875rem;
  border-radius: 0.625rem;
}

.recipeTitle {
  text-align: center;
  width: 21.875rem;
  margin-top: 1.875rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.recipePublisher {
  text-align: center;
  margin-top: 0.625rem;
  font-size: 1.25rem;
  color: white;
}

.recipeDirectionsContainer {
  margin-top: 1.5625rem;
  margin-bottom: 0.3125rem;
  font-size: 1.4375rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  text-align: center;
}

.recipeUrlContainer {
  max-width: 18.75rem;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  text-align: center;
  color: white;;
}

.recipeUrl {
  display: block;
  font-size: 1.125rem;
  color: rgb(215, 59, 24);
  text-decoration: none;
  position: relative;

}
.recipeUrl::after{
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: 1s transform;
}
.recipeUrl:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.recipeUrl:hover {
  color: rgb(255, 0, 0);
}

.recipeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  height: calc(100vh - 8.75rem);
}

.flexContainerLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin-right: 1.25rem;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('../images/recipebg.jpg');
  background-size: cover;
  border-right: 2px solid black;
  overflow: auto;
}

.flexContainerRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-left: 1.25rem;
  height: 100%;
  overflow: auto;
}

.ingredient {
  font-size: 1.25rem;
  max-width: 37.5rem;
  margin: 1.25rem;
  text-align: center;
  color: rgb(46, 46, 46);
}

.ingredientsHeader {
  font-size: 1.875rem;
  margin-top: 3.75rem; 
  margin-bottom: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.ingredientsHeader::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 74, 74);
  transform-origin: left;
  animation: ingHeaderAnimation 3s infinite ;
}

@keyframes ingHeaderAnimation {
  0%, 100% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 1024px) {
  .backButton {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgb(215, 59, 24);
    border-radius: 0.625rem;
  }
  .backButton::before {
    border-radius: 0.625rem;
  }
  .backLink {
    font-size: 0.9375rem;
  }
  .recipeImage {
    width: 21.875rem;
    height: auto;
  }
  .ingredient {
    width: auto;
  }
  .ingredientsHeader {
    margin-top: 2.5rem;
    margin-bottom: 0.625rem;
  }
  .recipeDirectionsContainer {
    max-width: 18.75rem;
    overflow: hidden;
  }
  .recipeContainer {
    height: auto;
  }
  .recipeTitle,.recipePublisher,.recipeUrlContainer {
    color: black;
  }
  .recipeTitle {
    font-weight: 600;
  }
  .flexContainerLeft {
    width: 90%;
    height: auto;
    background: none;
    border: none;
    margin-left: 1.25rem;
  }
  .flexContainerRight{
    width: 90%;
    height: auto;
    margin-right: 1.25rem;
  }
  .recipeContainer {
    flex-direction: column;
  }
}

@media screen and (min-width: 1224px) {
  .backButton {
    position: relative;
    top: 0;
    left: 0;
  }
}